@media screen and (max-width:991px) {

    h3{
        font-size: 1.2rem;
    }
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .nav-toggle{
        display: block;
        /* margin-right: 20px; */
        z-index: 999;
        /* border: 2px solid black; */
        color: rgb(68, 185, 214);

    }
    .hover-link{
        color: white;
    }
    i{
        color: skyblue;
    }
    nav{
        position: relative;
    }
    .nav-links{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assets/shoe1.jpg);
        background-size: contain;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }

    .examples-card{
        width: calc(50% - 10px);
        height: 180px;
    }
    .examples-area{
        gap: 20px;
    }
    .cta-section{
        padding-block: 80px;
    }
    .active .nav-links {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
}

@media screen and (max-width : 767px) {
    .header-section{
        flex-direction: column-reverse;
    }
    .header-left{
        max-width: 100vw;
        text-align: center;
    }
    .primary-button{
        width: 100%;
    }
    .features-card{
        min-width: calc(50% - 10px);
    }
    .big-feature-container,#second-big-feature {
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }
    .link-column{
        align-items: stretch;
    }
}
@media screen and (max-width:479px) {
    :root{
        --padding-inline-section:10px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }
    .features-card{
        min-width: 100%;
    }
}